<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Password Reset</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="ClientForm" class="form" >

            <div class="row">
              <div class="col-md-6 pr-1">
                  <div>
                  <!-- <label>Password</label> -->
                  <input type="text" formControlName="Password" class="form-control"  placeholder="Password" >
            <br>
                <!-- <label>Password</label> -->
                <input type="text" class="form-control" formControlName="RePassword"  placeholder="Re-Enter Password" >
                <div class="form-group">
                </div>
              </div>
            </div>
            </div>
          
            
         
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit"  (click)="onSubmit()" class="btn btn-primary btn-round">Submit</button>
              </div>
            </div>
            </form>
        
        </div>
      </div>
    </div>
  </div>
          





          