
<div ng-app="myApp" ng-controller="myController" class="container">
    <form name="myForm">
      <div class="container">
        <div class="col-md-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="d-flex p-2 bd-highlight">
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
              <img  src="http://35.159.10.177/static/media/voorblad.4529835a.jpg">
            </div>
            <div class="col-md-4">
            <div>
              <br>
              <br>
              <br>
              <br>
              <br>

              <label>User Name</label>
              <input type="text" name="UserName" class="form-control">
            </div>
            <div>
              <div class="form-group">
                <label>Password</label>
                <input type="password"  class="form-control">
              </div>
            </div>
            <button type="button" class="btn btn-success pull-right" (click)="login();">login</button>    

          </div>
        
        
            <div>
            
              <!-- <a routerLink="/dashboard"><button class="btn btn-success pull-right"> Add Customer</button></a> -->
              <!-- <button onclick="login()">Login</button> -->
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
        
    </form>
  </div>

  