<div ng-app="myApp" ng-controller="myController" class="container">
    <form name="myForm">
      <div class="login-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>User Name</label>
              <input type="text" name="UserName" class="form-control">
              <!-- <div ng-show="myForm.email.$error.email" class="error">Invalid email!</div>
              <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">Required!</div> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password"  class="form-control">
              <!-- <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="button" class="btn btn-success pull-right" (click)="login();">login</button>    

              <!-- <a routerLink="/dashboard"><button class="btn btn-success pull-right"> Add Customer</button></a> -->
              <!-- <button onclick="login()">Login</button> -->
              <div class="clearfix"></div>
            </div>
          </div>
        </div>0
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </form>
  </div>